* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}
.header__top {
  background-color: #303030;
}
header {
  font-family: "Roboto", sans-serif;
}
.header__btn {
  float: right;
  line-height: 36px;
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  font-size: 16px;
  position: relative;
}
.header__btn::before {
  content: "\f0b1";
  font-family: "icomoon";
  position: absolute;
  left: 22px;
  color: #1b1b1b;
}
.header__contacts::after {
  content: "";
  clear: both;
  display: block;
}
.header__phone,
.header__email {
  color: #cbcacb;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}
.header__phone {
  padding-left: 20px;
  padding-right: 30px;
}
.header__phone::before {
  content: "\f095";
  font-family: "icomoon";
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__email {
  padding-left: 24px;
}
.header__email::before {
  content: "\f003";
  font-family: "icomoon";
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__content {
  padding: 34px 0px 23px;
}
.menu li {
  display: inline-block;
}
.header__content-inner {
  display: flex;
  justify-content: space-between;
}
.menu a {
  color: #323232;
  font-size: 16px;
  line-height: 36px;
  border: 1px solid transparent;
  padding: 0px 16px;
  transition: all 0.3s;
}
.menu a:hover {
  border-color: #ffc222;
  transition: all 0.3s;
}
.menu li + li {
  padding-left: 10px;
}
#modal {
  display: none;
}
.slider {
  background-image: url(../img/slider-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.slider__item-content {
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto;
}
.slider__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 22px;
  font-family: "Roboto", sans-serif;
}
